@media(max-width: 700px){
    .about{
        flex-direction: column;
    }
}
@media(max-width: 390px){
   .about .hed{
        flex-direction: column;
    }}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
:root{
    --bg-color:black;
    --second-bg-color:black;
    --text-color:#fff;
    --min-color:#0ef;
}
html{
    font-size: 62.5%;
    overflow: hidden;
}
body{
    background-color:  gray;
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header{
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 500;
cursor: default;
border-radius: 60%;
}
.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 3s ;
}
.navbar a:hover,
    .navbar a:active{
    color: (var(--min-color));
}
.about{

 display: flex; 
justify-content: center;
align-items: center;
gap: 0.5rem;
background-color: rgb(165, 165, 165);
font-weight: 700;
color: black;
font-size: small;
font-family: 'Times New Roman', Times, serif;

}

.cont{display: flex;}
.hed{background-color: black;
color: #fff;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 250px;
padding-top: 70px;
align-items: center;
justify-content: center;
align-items: center;
}

.about-content{
    display: flex;
}
.h2{
    padding-top:6%;
    margin-left: 40px;
}
span{
    background-color: #0ef;
}

