

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
:root{
    --bg-color:black;
    --second-bg-color: rgb(165, 165, 165);
    --text-color:#fff;
    --min-color:#0ef;
}
html{
    font-size: 62.5%;
    overflow: hidden;
}
body{
    background-color:   rgb(165, 165, 165);
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header{
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;

}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 500;
cursor: default;
border-radius: 60%;
}
.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 3s ;
}
.navbar a:hover,
    .navbar a:active{
    color: (var(--min-color));
}
/* .portofolio{
    background-color: var(--second-bg-color);
}
.portofolio h2{

margin-bottom: 2rem;
} */
.portfolio-container{
    display: grid;
   
    align-items: center;
    gap: 10rem;
    margin-left: 200px;
    color: black;
    font-size:x-large;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    gap: 40%;



}
 /* .portfolio-container { */
    /* position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
  
} */
.container{
     justify-content: space-between; 
    display: flex;
   
}
/* .text{
    justify-content: space-between;
}
.text{
    justify-content: center;
    padding-top: 200px;
    margin: 10px;
    color: white;
}


.proj{
    margin-left: 800px ;
    padding-left: 700px;
  
} */
.btn{
    display: inline-block;
    padding:  1rem 2.8rem;
    background-color:rgb(216, 218, 217);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--min-color);
    font-size: 1.6rem;
    font-weight: 600;
    transition: 5s ease;
    margin: 80px;
    margin-bottom: 100px;
}
.btn:hover{
    box-shadow: none;
}



/* .left{
    margin-left: 800px ;
  
}
#sub1{
    width: 100px;
    height: 30px;
    margin-left:60px;
}
#sub2{
    width: 100px;
    height: 30px;
    margin-left:60px;
}
.logo{
    border-radius: 30px;
    width: 40px;
}
.heading2{
    margin-right:400px;
    margin-bottom: 200px;

}
#left{
    margin-left:1000px;
    margin-top: -300px;
}
#sub1{
  justify-content: center;
}
#sub2{
} */
.portfolio-container .heading1.heading{
      margin-right:400px; 
    margin-bottom: 200px;
    margin-left: -400px; 
    gap:20rem;
    font-size: large;
    position: relative;
    display: grid;
    
}


.heading1{

margin-left: -100px;
margin-bottom: -60%;
}
.heading{
 
    margin-left: -300px;
    margin-bottom: -50%;
    font-size:  x-large;
    gap:40rem;
}
   
  
    
    .hd{
        margin-left: -600px;
        margin-top: -20%;
        margin-bottom: -50%;
    }
    .hd p{
        font-size: x-large;
        gap:20rem;
    }
    .hd .heading1 h3{
        font-size:x-large;
    }

 @media(max-width:450px){
    .portfolio-container{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
