
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(171,102,255,1) 0%, rgba(116,182,247,1) 90% );
  overflow: hidden;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
:root{
    --bg-color:black;
    --second-bg-color:hsl(0, 3%, 64%);
    --text-color:white;
    font-family: 'Times New Roman', Times, serif;
    --min-color:#0ef;
}
html{
    font-size: 62.5%;
    overflow: hidden;
}
body{
    background-color:  rgb(165, 165, 165);
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header{
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 500;
cursor: default;
border-radius: 60%;
}
.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 3s ;
}
.navbar a:hover,
    .navbar a:active{
    color: (var(--min-color));
}






.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color:black
}

.swiper-slide {
  width: 300px;
  height: 400px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  filter: blur(1px);
}

